<div class="navbar navbar-inverse navbar-fixed-top">
  <div class="navbar-inner">
    <div class="container">
      <ul class="nav">

        <li class="active">
          <a href="#">Home</a>
        </li>

        <li>
          <a href="#about">About</a>
        </li>

        <li>
          <a href="#about">Services</a>
        </li>

        <li>
          <a href="#about">Clients</a>
        </li>

        <li>
          <a href="#about">News</a>
        </li>

        <li>
          <a href="#contact">Contact</a>
        </li>

      </ul>
    </div>
  </div>
</div>
