<div class="navbar navbar-inverse navbar-fixed-top">
  <div class="navbar-inner">
    <div class="container">
      <ul class="nav">

        <li class="active">
          <a href="{{ site.url }}/">Home</a>
        </li>

        <li>
          <a href="{{ site.url }}/about.html">About</a>
        </li>

        <li>
          <a href="{{ site.url }}/network.html">Rețea</a>
        </li>

        <li>
          <a href="{{ site.url }}/services.html">Servicii</a>
        </li>

        <li>
          <a href="{{ site.url }}/clients.html">Clienți</a>
        </li>

        <li>
          <a href="{{ site.url }}/contact.html">Contact</a>
        </li>

      </ul>
    </div>
  </div>
</div>
